@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body{font-family: 'Roboto', sans-serif; font-weight:400; font-size:16px; line-height:1.8;}
ul{list-style:none; margin:0; padding:0;}
h2{font-size:30px; color:#202020; font-weight:600; text-transform:uppercase; margin:0 0 30px; font-family: 'Montserrat', sans-serif;}
h3{font-family: 'Montserrat', sans-serif; font-size:20px; font-weight:400;margin:0 0 20px; line-height:1.4;}
h4{color:#202020; font-size:20px; margin:0 0 20px; font-weight:400;font-family: 'Roboto', sans-serif; line-height:1.4;}
a:hover{text-decoration:none;}
img{max-width:100%;}
*:focus,input:focus, input:active, select:focus, select:active{outline:none;}
h2.quote{text-transform:none; margin-bottom:30px; font-style: italic;}
.h3{margin-top:0;}
.med-margin{margin-bottom:20px;}
.no-margin-bt{margin-bottom:0 !important;}
.no-padding{padding:0 !important;}
.no-margin{margin:0 !important;}
.light{background:#f3f3f3; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; }
.d-table {display: table; height: 100%; width: 100%;}
.d-cell {display: table-cell; vertical-align: middle;}
.text-none{text-transform:none;}
.border-bottom{border-bottom:1px solid #e0e0e0;}
.button{padding:20px 50px; color:#fff; display:inline-block; line-height:1; text-transform:uppercase; background: #0666b7; background: -moz-linear-gradient(top,  #0666b7 0%, #0666b7 100%); background: -webkit-linear-gradient(top,  #0666b7 0%,#0666b7 100%); background: linear-gradient(to bottom,  #0666b7 0%,#0666b7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0666b7', endColorstr='#0666b7',GradientType=0 ); border:none;}
.button:hover{color:#fff;}
.button:active, .button:focus{outline:none; color:#fff; text-decoration:none;}
ul.listing li{font-size:15px; padding:0 0 0 30px; position:relative; margin-bottom:25px; line-height:1.4;}
ul.listing li:last-child{margin-bottom:0px;}
ul.listing li:before{position:absolute; left:0; top:6px; content:""; background-image:url(../img/sprite.png); background-repeat:no-repeat; background-position:-247px -70px; height:12px; width:22px;}
.menu-icon, .header .menu ul li.close-menu{display:none;}
.link-overlay{position:absolute; left:0; top:0; right:0; bottom:0; z-index:99;}

ul.listing li ul{margin-top:10px;}
ul.listing li ul li{padding-left:15px; margin-bottom:12px;}
ul.listing li ul li:last-child{margin-bottom:0px;}
ul.listing li ul li:before{position:absolute; left:0; top:6px; content:""; background-image:none; height:8px; width:8px; border-radius:50%; background:#ef5037;}


.pre-header{background:#0061b4; color:#fff;}
.pre-header a{color:#fff;}
.pre-header ul li{display:inline-block;}
.pre-header .left-info li{padding:10px 30px 10px 34px; border-right:1px solid #4e4e4e; margin-right:30px; position:relative;}
.pre-header .left-info li:last-child{padding-right:0; margin-right:0; border:none;}
.pre-header .left-info li:before{content:""; position:absolute; left:0; top: 12px; height:24px; width:24px; background:url(../img/sprite.png) no-repeat -10px -10px;}
.pre-header .info{padding-top:5px; font-size:14px;}
.pre-header .left-info li.time:before{background-position:-44px -10px;}
.pre-header .social li a{display:inline-block; height:20px; width:32px; text-indent:9999em; margin-left:10px; background:url(../img/sprite.png) no-repeat -78px -10px; overflow:hidden;}
.pre-header .social{text-align:right; padding-top: 14px;}
.pre-header .social li a.tw{background-position:-120px -10px;}
.pre-header .social li a.ld{background-position:-162px -10px;}
.pre-header .social li a.gp{background-position:-204px -10px;}
.pre-header .social li a:hover{background-position:-78px -40px;}
.pre-header .social li a.tw:hover{background-position:-120px -40px;}
.pre-header .social li a.ld:hover{background-position:-162px -40px;}
.pre-header .social li a.gp:hover{background-position:-204px -40px;}
.call-options{position:absolute; visibility:hidden; opacity:0; left:0; top:60px; background:#fff; box-shadow:0 0 10px rgba(0,0,0,0.10); width:250px; z-index:999; padding:0; transition: all 0.5s ease;}
.pre-header .left-info li#call-us:hover .call-options{top:49px; opacity:1; visibility:visible;}
.pre-header .left-info .call-options li{padding:0; border:none; border-bottom:1px solid #eaeaea; margin:0; color:#555; display:block; font-size:15px;}
.pre-header .left-info .call-options li:last-child{border:none;}
.pre-header .left-info .call-options li a{color:#555;  display:block; padding:8px 10px;}
.pre-header .left-info .call-options li a:hover{color:#0072d3; }
.pre-header .left-info .call-options li:before{background:none;}


.header{padding:20px 0; background:#0072d3;}
.header .menu{text-align:right; padding-top:22px; font-size:18px;}
.header .menu ul li{display:inline-block; margin-left:20px; position:relative;}
.header .menu ul li:first-child{margin-left:0px;}
.header .menu ul li a{color:#fff; padding-bottom:10px;}
.header .menu ul li a:hover, .header .menu ul li.active > a, .header .menu ul li a.active{color:#fff;}

.header .menu ul li a:before{left:50%; width:0; height:2px; background:rgba(255,255,255,0.50); position:absolute; content:""; transition:all 0.5s ease; bottom:0;}
.header .menu ul li a:hover:before, .header .menu ul li a.active:before{width:50%; left:0;}
.header .menu ul li a:after{right:50%; width:0; height:2px; background:rgba(255,255,255,0.50); position:absolute; content:""; transition:all 0.5s ease; bottom:0;}
.header .menu ul li a:hover:after, .header .menu ul li a.active:after{width:50%; right:0;}


.header .menu .sub-menu{opacity: 0; visibility: hidden; position: absolute; top:60px; background:#fff; text-align:left; font-size:16px; width:220px; transition:all 0.5s ease;  padding: 0; z-index:999; box-shadow:0 0 10px rgba(0,0,0,.10)}
.header .menu li:hover .sub-menu{opacity: 1; visibility: visible; top: 40px;}
.header .menu li.last .sub-menu{left:auto; right:-40px;}
.header .menu .sub-menu li{margin:0; display:block; border-bottom:1px solid #eaeaea;}
.header .menu .sub-menu li:last-child{border-bottom:none;}
.header .menu .sub-menu li a{padding: 8px 15px; display:block; color:#333;}
.header .menu .sub-menu li a:hover{color: #fff; background: #0061b4;}
.header .menu .sub-menu li a div{color:#f16436;}
.header .menu .sub-menu li a:hover div{color:#fff;}
.menu-icon, .close-menu{height:32px; width:32px; text-indent:9999em; cursor:pointer; background:url(../img/sprite.png?v=1) no-repeat -313px -91px; overflow:hidden;}
.close-menu{background-position:-355px -91px}

.banner{background:url(../img/banner.jpg) no-repeat center; background-size:cover; color:#fff; padding:160px 0 30px; 
position: relative;
margin-top:155px}
.banner h2{font-size:24px; font-weight:400; line-height:1.8; margin-bottom:40px; font-family: 'Roboto', sans-serif; color:#fff; text-transform:none;}
.banner h1{font-size:30px; line-height:1.5; margin:0; font-family: 'Montserrat', sans-serif; font-weight:400;}
.banner .banner-content{padding-top:50px;}
.banner-points{position: relative; bottom: -70px;}
.banner-points .box{padding:30px 30px 30px 95px; margin-bottom:30px; font-weight:300; line-height:1.8; position:relative; color:#202020; background:#fff; box-shadow:0 3px 25px rgba(0,0,0,0.10);}
.banner-points .box p{margin:0;}
.banner-points .box h4{margin-bottom:5px;}
.banner-points .box b{font-weight:400;}
/*.banner-points .box.communication{background: #e94086; background: -moz-linear-gradient(left, #e94086 0%, #e5925a 100%); background: -webkit-linear-gradient(left, #e94086 0%,#e5925a 100%); background: linear-gradient(to right, #e94086 0%,#e5925a 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e94086', endColorstr='#e5925a',GradientType=1 );}
.banner-points .box.ace{background: #7349cc; background: -moz-linear-gradient(left, #7349cc 0%, #e163e4 100%); background: -webkit-linear-gradient(left, #7349cc 0%,#e163e4 100%); background: linear-gradient(to right, #7349cc 0%,#e163e4 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7349cc', endColorstr='#e163e4',GradientType=1 );}
.banner-points .box.career{background: #00aee0; background: -moz-linear-gradient(left, #00aee0 0%, #0cd3b8 100%); background: -webkit-linear-gradient(left, #00aee0 0%,#0cd3b8 100%); background: linear-gradient(to right, #00aee0 0%,#0cd3b8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee0', endColorstr='#0cd3b8',GradientType=1 ); margin-bottom:0;}*/
.banner-points .box.career{margin-bottom:0;}
.banner-points .box:before{content:""; position:absolute; left:30px; top:40px; height:50px; width:50px; background:url(../img/sprite.png) no-repeat -246px -10px;}
.banner-points .box.ace:before{background-position:-306px -10px;}
.banner-points .box.career:before{background-position:-366px -10px;}
.banner .scroll-bottom{width:20px; height:40px; position:absolute; left:50%; bottom:20px; margin-left:-10px;}
.banner .scroll-bottom a{display:inline-block; width:20px; height:40px; text-indent:-999em; background:url(../img/sprite.png) no-repeat -426px -10px; position:relative;}
.banner .scroll-bottom a:after{position:absolute; left:4px; top:6px; background:#fff; content:""; height:12px; width:12px; border-radius:50%; transition:all 0.5s ease;}
.banner .scroll-bottom a:hover:after{top:22px;}
.banner.inner{padding:150px 0;}
.banner.spoken{background-image:url(../img/spoken-banner.jpg);}
/*.banner.contact{background-image:url(../img/contact-banner.jpg);}
.banner.gallery{background-image:url(../img/gallery-banner.jpg);}
.banner.about{background-image:url(../img/about-banner.jpg);}*/

.banner.contact, .banner.gallery, .banner.about{background:none;}


/*.banner.competitive-banner{background-image:url(../img/competitive-banner.jpg);}
.banner.customized-banner{background-image:url(../img/customized-banner.jpg); background-position:center right !important;}
.banner.foundation-banner{background-image:url(../img/foundation-banner.jpg);}
.banner.ielts-banner{background-image:url(../img/ielts-banner.jpg);}
.banner.gdpi-banner{background-image:url(../img/gd-banner.jpg);}
.banner.writing-banner{background-image:url(../img/writing-banner.jpg);}
.banner.pd-banner{background-image:url(../img/pd-banner.jpg);}
.banner.advance-banner{background-image:url(../img/advance-banner.jpg);}
.banner.intermediate-banner{background-image:url(../img/intermediate-banner.jpg);}*/


.banner.course-banner{background:none;padding:0 !important;}
.course-banner h1{position: absolute; right: 0; bottom: 0; font-size: 20px; background: rgba(0,114,211,.80); padding: 15px 30px;}

.banner.inner.full-banner{padding:0;}
.full-banner img, .banner.course-banner img{width:100%;}
.about-banner-content{position:absolute; left:0; right:0; top:50%; transform:translateY(-50%);}

.home-banner img{display:none;}
@media only screen and (min-width:1100px){
	.home-banner{background:none;padding:0 !important; position:relative;}
	.home-banner img{width:100%; display:inline-block;}
	.home-banner-content{position:absolute; left:0; right:0; top:50%; transform:translateY(-50%);}
}

#courses{padding-top:80px; background:#f6f6f6; padding-bottom: 30px;}
.light-bg{background:#f6f6f6;}
.section{padding:60px 0;}
.section.med-mar-bt{padding-bottom:30px;}
.bottom-shadow{box-shadow:0 0 30px rgba(0,0,0,0.15);}
.course-block {position: relative; overflow: hidden; margin-bottom: 30px;}
.course-block img {width: 100%; display: inline-block; position: relative; transition: all 0.8s ease; -webkit-transition: all 0.5s ease;}
.course-block h3{font-family: 'Montserrat', sans-serif; margin:0 0 10px; font-size:18px; font-weight:400;}
.course-block p{margin:0; font-size:14px; line-height:1.5;}
.course-block > h3 {position: absolute; left: 0; bottom: 0; right: 0; line-height: 1; background: rgba(0,0,0,0.80); padding: 15px 0; transition: all 0.8s ease; -webkit-transition: all 0.5s ease;  color:#fff; margin:0;}
.course-block .hover-info {position: absolute; color:#fff; left: 100%; top: 0; height: 100%; width: 100%; padding: 20px; transition: all 0.5s ease; background: #0072d3; opacity:0.95;}
.course-block:hover > h3 {opacity: 0;}
.course-block:hover .hover-info {left: 0;}

.value-section{background:url(../img/value.jpg) no-repeat center center; background-size:cover; color:#fff;}
.value-section.placement{background-size:cover; background-attachment:fixed;}
.value-section .value-content{/*padding-top:50px;*/}
.value-section .heading{background: #00aee0; background: -moz-linear-gradient(left, #00aee0 0%, #0cd3b8 100%); background: -webkit-linear-gradient(left, #00aee0 0%,#0cd3b8 100%); background: linear-gradient(to right, #00aee0 0%,#0cd3b8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee0', endColorstr='#0cd3b8',GradientType=1 ); color:#fff; padding:20px 10px 20px; text-align:center;}
.value-section h3{font-size:24px;}
.value-section .heading h4{color:#fff; margin-bottom:5px; font-size:18px;}
.value-section .about-form{background:#fff;}
.value-section .about-form .field-container{padding:15px;}
.value-section .field{margin-bottom:15px;}
.value-section input[type="text"], .value-section input[type="tel"], .value-section select{background-color:#fff; border:1px solid #d4d4d4; padding:12px; line-height:1; width:100%; color:#000; font-size:14px;}
.value-section select{background-image:url(../img/select.png);}
.b-text:-moz-placeholder {color: #000; opacity: 1;}
.b-text::-moz-placeholder {color: #000; opacity: 1;}
.b-text::-webkit-input-placeholder {color: #000;}
.b-text:-ms-input-placeholder {color: #000;}
.value-section ul.listing li:before, ul.listing.green li:before{background-position: -279px -70px;}
.value-section ul.listing li, ul.listing.green li{margin-bottom:20px;}
.value-section h3 span{font-weight:600; color:#0bd0bb; font-size:36px;}
.value-section .button{width:100%;}




/* Slider */.slick-slider{position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}.slick-list{position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}.slick-list:focus{outline: none;}.slick-list.dragging{cursor: pointer;cursor: hand;}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}.slick-track{position: relative;top: 0;left: 0;display: block;margin-left: auto;margin-right: auto;}.slick-track:before,.slick-track:after{display: table;content: '';}.slick-track:after{clear: both;}.slick-loading .slick-track{visibility: hidden;}.slick-slide{display: none;float: left;height: 100%;min-height: 1px;}[dir='rtl'] .slick-slide{float: right;}.slick-slide img{display: block;}.slick-slide.slick-loading img{display: none;}.slick-slide.dragging img{pointer-events: none;}.slick-initialized .slick-slide{display: block;}.slick-loading .slick-slide{visibility: hidden;}.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}.slick-arrow.slick-hidden {display: none;}


.testimonials{text-align:center; color:#fff; background:url(../img/tesimonials.jpg) no-repeat center; background-size:cover; background-attachment:fixed;}
.testimonials h2{color:#fff;}

.testimonials img{display:inline-block;}
.testimonials .slick-dots{margin-top:30px;}
.testimonials .slick-dots li{display:inline-block; margin:0 5px;}
.testimonials .slick-dots button{background:none; borde:none; border:2px solid #fff; border-radius:50%; text-indent:-999em; height:12px; width:12px; background:transparent; padding:0; display: inline-block; vertical-align: top;}
.testimonials .slick-dots .slick-active button{border:none; background: #0666b7; background: -moz-linear-gradient(top,  #0666b7 0%, #0666b7 100%); background: -webkit-linear-gradient(top,  #0666b7 0%,#0666b7 100%); background: linear-gradient(to bottom,  #0666b7 0%,#0666b7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0666b7', endColorstr='#0666b7',GradientType=0 );}
.testimonials .student-container{position:relative; padding-bottom:110px; min-height:230px;}
.testimonials .student-container .student-info{position:absolute; bottom:0; left:0; width:100%;}
.slick-arrow{border:none; text-indent:-999em; width:40px; height:40px; background:url(../img/sprite.png) no-repeat -400px -199px; position:absolute; left: -35px; top: 50%; margin-top:-20px; padding:0;}
.slick-disabled{opacity:0.5;}
.slick-arrow.slick-next{background-position:-450px -199px; left:auto; right:-35px;}
.partners .img-box{margin:15px; box-shadow:0 0 15px rgba(0,0,0,0.05); transition:all .5s ease; position:relative;}
.partners .img-box:hover{box-shadow:0 0px 20px rgba(0,0,0,0.10); margin-top:10px;}
.locations{border-top:1px solid #c8d1d7; font-size:0; max-width:1400px; margin:0 auto;}
.locations .box{color:#202020; padding:25px; font-size:14px; display:table-cell; width:25%; border-right:1px solid #c8d1d7; border-bottom:1px solid #c8d1d7; background:#dfe9ef;}
.locations .box.white{background:#fff;}
.locations .box:last-child{border-right:none;}
.locations .box a{color:#202020;}
.locations .box li{position:relative; padding:0 0 0 34px; margin-bottom:10px;}
.locations .box li:last-child{margin-bottom:0px;}
.locations .box li:before{content:""; position:absolute; left:0; top:2px; background:url(../img/sprite.png) no-repeat -10px -66px; height:20px; width:20px;}
.locations .box li.number:before{background-position:-40px -66px;}
.locations h3{font-size:20px; margin-bottom:20px; }




.pink-box{background: #e94086; background: -moz-linear-gradient(left, #e94086 0%, #e66198 100%); background: -webkit-linear-gradient(left, #e94086  0%,#e66198 100%); background: linear-gradient(to right, #e94086 0%,#e66198 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e94086', endColorstr='#e66198',GradientType=1 );}
.purple-box{background: #7349cc; background: -moz-linear-gradient(left, #7349cc 0%, #926edf 100%); background: -webkit-linear-gradient(left, #7349cc 0%,#926edf 100%); background: linear-gradient(to right, #7349cc 0%,#926edf 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7349cc', endColorstr='#926edf',GradientType=1 );}
.teal-box{background: #00aee0;background: -moz-linear-gradient(left, #00aee0 1%, #3cbee4 100%);background: -webkit-linear-gradient(left, #00aee0 1%,#3cbee4 100%);background: linear-gradient(to right, #00aee0 1%,#3cbee4 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee0', endColorstr='#3cbee4',GradientType=1 );}
.blue-box{background: #1266b9;background: -moz-linear-gradient(left, #1266b9 1%, #4f91d3 100%);background: -webkit-linear-gradient(left, #1266b9 1%,#4f91d3 100%);background: linear-gradient(to right, #1266b9 1%,#4f91d3 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1266b9', endColorstr='#4f91d3',GradientType=1 );}


.footer{background:#263d6a; padding:60px 0 0; color:#fff; font-size:14px;}
.footer h3{font-size:20px; padding: 0 0 20px; margin:0 0 30px; border-bottom:1px solid #3c5179; text-transform:uppercase;}
.footer h3 span{position:relative; display: inline-block;}
.footer h3 span:after{content:""; position:absolute; left:0; bottom:-24px; background:#fff; height:3px; width:100%;}
.copyright{background:#192e55; margin-top:60px; padding:30px 0;}
.copyright p{font-size:14px; color:#a8acb7; margin:0px 0 0;}
.footer ul li a{color:#fff;}
.footer .quick li{color:#fff; margin-bottom:10px;}
.footer .about p{text-align:justify; text-align-last:left; font-size:14px; line-height:1.8;}
.footer .field{margin-bottom:10px;}
.footer input[type="text"], .footer input[type="tel"], select{background:#3c5179; border:none; width:100%; color:#fff; padding:15px 15px; line-height:1;}
.footer select, select{-moz-appearance: none; -webkit-appearance: none; -ms-appearance: none; background-image:url(../img/footer-select.png); background-repeat: no-repeat; background-position: center right 15px;}
.footer input[type="submit"], #submit{border:none; background:#fff; color:#263d6a; font-size:18px; font-weight:600; text-transform:uppercase; width:100%; padding:15px; line-height:1;}
.footer .social li{display:inline-block; margin-left:10px;}
.footer .social li a{display:inline-block; height:32px; width:32px; text-indent:9999em; background:url(../img/sprite.png) no-repeat -78px -70px; overflow:hidden;}
.footer .social{text-align:right;}
.footer .social li a.tw{background-position:-120px -70px;}
.footer .social li a.ld{background-position:-162px -70px;}
.footer .social li a.gp{background-position:-204px -70px;}
.footer .read-more{color:#fff; font-weight:600; text-decoration:underline; padding-right:25px; position:relative; display: inline-block;}
.footer .read-more:after{content:""; position:absolute; right:2px; top:7px; background:url(../img/sprite.png) no-repeat -42px -44px; height:16px; width:16px; transition:all 0.5s ease;}
.footer .read-more:hover:after{right:0;}
::placeholder {color: #fff;opacity: 1;}


.section.course-content{padding-bottom:30px;}
.course-content .card-box{background:#fff; padding:0 30px 30px; border:1px solid #ececec; box-shadow:5px 0 30px rgba(0,0,0,0.15); margin-bottom:30px; transition:all 0.5s ease;}
.course-content.no-course-head .card-box{padding:30px;}
.course-content .card-box:hover{box-shadow:5px 0 50px rgba(0,0,0,0.15); transform:translateY(-5px);}
.course-content .card-box h3{margin:0 -30px 30px; padding:30px 80px 30px 30px; color:#fff; position:relative;
background: #e94086; background: -moz-linear-gradient(left, #e94086 0%, #e5925a 100%); background: -webkit-linear-gradient(left, #e94086 0%,#e5925a 100%); background: linear-gradient(to right, #e94086 0%,#e5925a 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e94086', endColorstr='#e5925a',GradientType=1 );}
.course-content .card-box h3.pink{background: #7349cc;background: -moz-linear-gradient(left, #7349cc 0%, #e163e4 100%);background: -webkit-linear-gradient(left, #7349cc 0%,#e163e4 100%);background: linear-gradient(to right, #7349cc 0%,#e163e4 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7349cc', endColorstr='#e163e4',GradientType=1 );}
.course-content .card-box h3.green{background: #00aee0;background: -moz-linear-gradient(left, #00aee0 0%, #0cd3b8 100%);background: -webkit-linear-gradient(left, #00aee0 0%,#0cd3b8 100%);background: linear-gradient(to right, #00aee0 0%,#0cd3b8 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee0', endColorstr='#0cd3b8',GradientType=1 );}
.course-content .card-box h3:before{content:""; position:absolute; top:0; right:0; bottom:0; width:76px; background:rgba(0,0,0,0.10);}
.course-content .card-box h3:after{content:""; position:absolute; top:50%; right:18px; width:40px; height:40px; margin-top:-20px; background:url(../img/sprite.png) no-repeat -10px -137px;}
.course-content .card-box h3.courses:after{background-position:-306px -187px;}

.course-content .card-box h3.accouting:after{background-position:-60px -137px;}
.course-content .card-box h3.e-accounting:after{background-position:-110px -137px;}
.course-content .card-box h3.gst:after{background-position:-160px -137px;}
.course-content .card-box h3.online:after{background-position:-210px -137px;}
.course-content .card-box h3.marg:after{background-position:-260px -137px;}
.course-content .card-box h3.online-banking:after{background-position:-310px -137px;}
.course-content .card-box h3.stock:after{background-position:-360px -137px;}
.course-content .card-box h3.soft:after{background-position:-410px -137px;}
.course-content .card-box h3.tally:after{background-position:-460px -137px;}
.course-content .card-box h3.data:after{background-position:-10px -187px;}
.course-content .card-box h3.hand-shake:after{background-position:-60px -187px;}
.course-content .card-box h3.special:after{background-position:-110px -187px;}
.course-content .card-box h3.accouting-2:after{background-position:-160px -187px;}
.course-content .card-box h3.excel:after{background-position:-210px -187px;}
.course-content .card-box h3.function:after{background-position:-260px -187px;}
.course-content .card-box h3.report:after{background-position:-356px -187px;}
.course-content .card-box h3.internet:after{background-position:-160px -237px;}
.course-content .card-box h3.social:after{background-position:-210px -237px;}
.course-content .card-box h3.payroll:after{background-position:-360px -237px;}
.course-content .card-box h3.security:after{background-position:-260px -237px;}
.course-content .card-box h3.busy-acc:after{background-position:-160px -287px;}
.course-content .card-box h3.gear:after{background-position:-310px -287px;}
.course-content .card-box h3.tds:after{background-position:-210px -287px;}
.course-content .card-box h3.tcs:after{background-position:-260px -287px;}
.course-content .card-box h3.management:after{background-position:-310px -237px;}
.course-content .card-box h3.function-ad:after{background-position:-360px -287px;}
.course-content .card-box h3.zoom:after{background-position:-160px -337px;}
.course-content .card-box h3.word:after{background-position:-210px -337px;}
.course-content .card-box h3.pp:after{background-position:-260px -337px;}
.course-content .card-box h3.info:after{background-position:-310px -337px;}

.row.c-boxes {margin-left: -29px; margin-right: -29px; /*min-height: 347px;*/}
.row.c-boxes .col-md-4 {padding: 0 1px;}
.row.c-boxes .course-block {margin: 2px 0 0; min-height:114px;}
.c-boxes h4 {position: absolute; z-index: 9; bottom: 0; left: 0; right: 0;text-align: center; background: rgba(0,0,0,0.70); color: #fff; margin: 0; padding: 7px 0; font-size:15px; transition:all 0.5s ease;}
.c-boxes .col-md-4:hover h4 {background:rgba(0,114,211,0.90);}
.course-content .card-box.c-card{padding-bottom:2px;}


.course-content .card-box a.button{display:block; text-align:center;}
.other-courses .course-block{margin:0 15px;}
.section.centers{padding:0; max-width:1400px; margin:0 auto;}
ul.contact-info{display:table; width:100%; height:100%;}
ul.contact-info li{display:table-cell; vertical-align:middle; width:25%; padding:25px 10px 25px 30px; border-bottom:1px solid #e0e0e0; border-left:1px solid #e0e0e0; line-height: 1; font-size: 15px;}
ul.contact-info li:last-child{border-right:none;}
ul.contact-info.no-border li{border-bottom:none;}
ul.contact-info li span, ul.contact-info li a{display:inline-block; vertical-align:middle;}
ul.contact-info li span{min-width:30%;}
ul.contact-info li a{font-size:13px; padding:10px 20px; border-radius:20px; line-height:1; background: #e94086; background: -moz-linear-gradient(left, #e94086 0%, #e5925a 100%); background: -webkit-linear-gradient(left, #e94086 0%,#e5925a 100%); background: linear-gradient(to right, #e94086 0%,#e5925a 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e94086', endColorstr='#e5925a',GradientType=1 ); color:#fff; margin-left:5px;}
ul.contact-info li a.pink{background: #7349cc;background: -moz-linear-gradient(left, #7349cc 0%, #e163e4 100%);background: -webkit-linear-gradient(left, #7349cc 0%,#e163e4 100%);background: linear-gradient(to right, #7349cc 0%,#e163e4 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7349cc', endColorstr='#e163e4',GradientType=1 );}
ul.contact-info li a.green{background: #00aee0;background: -moz-linear-gradient(left, #00aee0 0%, #0cd3b8 100%);background: -webkit-linear-gradient(left, #00aee0 0%,#0cd3b8 100%);background: linear-gradient(to right, #00aee0 0%,#0cd3b8 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee0', endColorstr='#0cd3b8',GradientType=1 );}
ul.contact-info li a.red{background: #c2185b;background: -moz-linear-gradient(left, #c2185b 0%, #e91e63 100%);background: -webkit-linear-gradient(left, #c2185b 0%,#e91e63 100%);background: linear-gradient(to right, #c2185b 0%,#e91e63 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2185b', endColorstr='#e91e63',GradientType=1 );}


.preloader{background:#fff; position:fixed; left:0; top:0; right:0; bottom:0; z-index:999; text-align:center; padding-top:20%; -webkit-user-select: none;   -moz-user-select: none;  -ms-user-select: none; user-select: none;}
.preloader span{display:inline-block; vertical-align:middle; font-size:50px; color:#f16636; padding:0 5px;}
.preloader p {font-size: 20px; text-transform: uppercase; letter-spacing: 2.5px; margin: 15px 0 0;}
.loader {border: 12px solid #f3f3f3; border-top: 12px solid #f16636; border-radius: 50%; width: 100px; height: 100px; animation: spin 0.8s linear infinite; display:inline-block;}
@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sm-title h3{font-size:16px;}


#map{min-height:400px;}
.contact-form{background:#191c2d; color:#fff; padding:60px;}
.contact-form h2{color:#fff; text-align:center;}
.contact-form .field{margin-bottom:30px;}
.contact-form input[type="text"], .contact-form input[type="tel"], .contact-form select{background-color:#303342; border:1px solid #545869; padding:20px; line-height:1; width:100%;}
.contact-form .checkbox label{padding-left:36px; position:relative; display:block; cursor:pointer;}
.contact-form .checkbox label:before{position:absolute; left:0; top:0; content:""; height:24px; width:24px; background:url(../img/check.png) no-repeat 0 0;}
.contact-form .checkbox input:checked + label:before{background-position:0 -36px;}
.contact-form input[type="checkbox"]{display:none;}
.contact-form .button{display:block; width:100%;}
.contact-map .center-img{float:left; width:145px;}
.contact-map .center-info{float:left; width:290px; padding-left:10px;  padding-top:15px;}
.contact-map .center-info h4{margin-bottom:12px;}
.contact-map .center-info p{font-size:12px; line-height:20px; margin-bottom:10px;}
.contact-map .center-info a{font-size:12px; color:#f26236; display:inline-block; text-decoration:underline;}
.contact-map .center-info a:hover{text-decoration:none;}
.contact-map .gm-style .gm-style-iw-c{padding:0; height:150px;}
.contact-block .course-block .hover-info{text-align:left;}
.contact-block .course-block .hover-info h3{font-size:20px; font-weight:400; font-family: 'Montserrat', sans-serif; margin-bottom:15px; padding:0;}
.contact-block .course-block .hover-info p{font-size:15px; line-height:24px; margin-bottom:12px;}
.contact-block .course-block .hover-info p.call{font-size:16px; line-height:1; margin-bottom:0px; font-weight:600; padding-left:30px; position:relative;}
.contact-block .course-block .hover-info p.call a{color:#fff;  display:inline-block; padding-top:3px;}
.contact-block .course-block .hover-info p.call:before{position:absolute; left:0; top:0; height:20px; width:20px; background:url(../img/sprite.png) no-repeat -10px -40px; content:"";}
.contact-block .container-fluid, .contact-form-map{max-width:1400px; margin:0 auto;}

.gallery .img-block{border:1px solid #c2c2c2; border-radius:5px; box-shadow:0 5px 25px rgba(0,0,0,0.20); overflow:hidden; position:relative; margin-bottom:30px;}
.gallery .img-block img{width:100%;}
.gallery .img-block .hover-info{position:absolute; left:0; top:0; height:100%; width:100%; background:rgba(0,0,0,0.75); transition:all 0.5s ease; opacity:0;}
.plus-icon{display:inline-block; background:url(../img/sprite.png) no-repeat -434px -71px; height:50px; width:50px; border:none; text-indent:-999em;  transition:all 0.5s ease; position:absolute; left:50%; top:-50%; margin-top:-25px; margin-left:-25px;}
.gallery .img-block:hover .hover-info{opacity:1;}
.gallery .img-block:hover .hover-info .plus-icon{top:50%;}
.gallery-popup .modal-body{padding:0;}
.gallery-popup .close {position: absolute; right: -30px; color: #fff; opacity: 1; font-size: 30px; top: -5px;}
.modal-backdrop.in{opacity:0.7;}
.gallery .classes .img-block{margin:15px; box-shadow: 0 2px 10px rgba(0,0,0,0.20);}




.course-info li{position:relative; padding-left:42px; margin-bottom:35px; padding-top:5px; min-height:40px;}
.course-info li.location{padding-top:0;}
.course-info li:last-child{margin-bottom:0;}
.course-info li:before{position:absolute; left:0; top:0; content:""; height:40px; width:30px; background:url(../img/sprite.png?v=1) no-repeat -10px -260px;}
.course-info li.call:before{background-position:-50px -260px;}
.course-info li.timing:before{background-position:-90px -260px;}
.course-info li a, .bl-link a{color:#333;}
.course-info li a:hover, .bl-link a:hover{color:#0072d3;}
.no-padding-bt{padding-bottom:0 !important;}
.md-pd-top{padding-top:20px !important;}

/*.placement-form {background: #fff; box-shadow: 0 0 20px rgba(0,0,0,0.10); padding: 30px; margin-top: -110px; position: relative; z-index: 10;}
.placement-form label{display:block; font-weight:normal;}
.placement-form .field {margin-bottom:20px;}
.placement-form .field input[type="text"], .placement-form .field input[type="email"], .placement-form .field input[type="tel"], .placement-form textarea{width:100%; padding:10px; background#fff; line-height:1; border:1px solid #d9d9d9; color:#000;}
.placement-form .field select{border:1px solid #d9d9d9; background:#fff; color:#000; padding:9px; line-height:1; background:url(../img/select.png) no-repeat 98% 50%;}
.placement-form .field input[type="file"]{border:1px solid #d9d9d9; background:#fff; color:#000; padding:7px; line-height:1; width:100%;}
.placement-form textarea{height:90px;}*/


.placement-form {background:#90a2b1; box-shadow: 0 0 20px rgba(0,0,0,0.10); padding: 30px; position: relative; z-index: 10; margin-top:-50px;}
.placement-form label{display:block; font-weight:normal; line-height:1; color: #001f39;}
.placement-form .field {margin-bottom:15px;}
.placement-form .field input[type="text"], .placement-form .field input[type="email"], .placement-form .field input[type="tel"],.field input[type="date"], .placement-form textarea{width:100%; padding:10px; background:#9babb9; line-height:1; border:1px solid #81919f; color:#000;}
.placement-form .field select{border:1px solid #81919f; background:#000; color:#000; padding:9px; line-height:1; background:url(../img/select.png) no-repeat 98% 50% #9babb9;}
.placement-form .field select option{background:#6d7c89;}
.placement-form .field input[type="file"]{border:1px solid none; background:#fff; color:#000; padding:7px; line-height:1; width:100%;}
.placement-form textarea{height:80px;}
.placement-form::-moz-placeholder{color:#fff;}
.value-section .placement-form .button {width: auto;}

.placement-form span.error{padding: .5rem; margin-top: .1rem; font-size: 12px; line-height: 1; color: #fff; background-color: rgba(220,53,69,.8); border-radius: .2rem; width: auto; right: 15px; position: absolute; font-weight: 400; top: -6px; }
.placement-form span.error.success{padding:0; background:none;}


.m-sticky-btn{display:none;}

@media only screen and (min-width:1100px){
	.main-header{left: 0; right: 0; top: 0; position:absolute;}
	.main-header.sticky {position: fixed; left: 0; right: 0; top: 0; z-index: 999 !important; box-shadow:0 0 15px rgba(0,0,0,0.30);}
	.banner{margin-top: 175px;}
}

@media only screen and (max-width:1200px){
	.header .menu ul li{margin-left:20px;}
	.banner-points .box {padding: 30px 15px 30px 75px;}
	.banner-points .box:before {left: 15px; top: 30px;}
	.locations .box {padding: 40px 25px;}
	.locations h3 {font-size: 20px;}
	.banner.inner {padding: 100px 0;}
}

@media only screen and (max-width:1100px){
	ul.contact-info li span { min-width: auto; display: block; margin-bottom: 10px; }
	ul.contact-info li a{margin:0; display:inlne-block;}
	.contact-block .course-block .hover-info p.call {font-size: 12px;}
	.contact-block .course-block .hover-info h3 {font-size: 16px; margin-bottom: 5px;}
	.contact-block .course-block .hover-info p {font-size: 13px; line-height: 18px; margin-bottom: 5px;}
}

@media only screen and (min-width:991px) and (max-width:1200px){
    .header .menu {font-size: 16px;}
}

@media only screen and (max-width:991px){
	.header .menu ul li{margin-left:5px;}
	.banner{padding-top:120px; margin-top:150px;}
	.banner h2 {font-size: 20px;}
	.banner h1{font-size: 30px;}
	.banner-points{bottom:auto;}
	#courses{padding-top:40px;}
	.section {padding: 40px 0;}
	h2 {font-size: 26px; margin: 0 0 25px;}
	.slick-arrow{left:10px;}
	.slick-arrow.slick-next{right:10px;}
	.slick-list{margin:0 20px;}
	.locations .box {display: inline-block; width: 50%;}
	.locations .box:nth-child(2n){border-right:none;}
	.banner.inner {padding: 60px 0; background-position: center center;}
	.banner.intermediate-banner {padding: 60px 0; background-position: center right;}
	ul.contact-info li { padding: 30px 20px 30px 20px;}
	
	.header .menu {font-size: 14px;}
	.pre-header .info {padding-top: 5px; font-size: 11px;}
	
	.contact-form{padding:40px 30px;}
	.contact-block .course-block .hover-info p.call {font-size: 14px;}
	.contact-block .course-block .hover-info h3 {font-size: 18px; margin-bottom: 8px;}
	.contact-block .course-block .hover-info p {font-size: 14px; line-height: 18px; margin-bottom: 8px;}
	
	.course-banner h1{font-size:16px;}
	.locations .box.white{background:#dfe9ef;}
	.locations .box:nth-child(2n){background:#fff;}
	.header .menu .sub-menu{left:-50px;}
	
	.slick-arrow{width:18px; height:31px; background:url(../img/sprite.png) no-repeat -10px -96px; left: 0px;margin-top:-15px;}
	.slick-arrow.slick-next{background-position:-37px -96px; right:0px;}
	.placement-form{margin:0;}
}



@media only screen and (max-width:767px){
	body.menu-open{overflow:hidden;}
	.logo img{max-width:85%;}
	.pre-header .info{padding-top:0; font-size: 13px;}
	.header .menu{padding-top:10px;font-size: 16px;}
	.header .menu ul li a:before, .header .menu ul li a:after {background:none;}
	.menu-icon, .header .menu ul li.close-menu{display:inline-block;}
	.header .menu ul li.close-menu{position:absolute; right:10px; top:10px;}
	.menu > ul{position:fixed; left:0; top:0; height:100%; width:100%; background:#0061b4; transform:translateX(100%); z-index:99; transition:all 0.5s ease; padding:40px 0px 20px; text-align:left; overflow:scroll;}
	.header .menu ul li.close-menu{height:36px; width:36px; background-position:-454px -259px; border:none;}
	.menu > ul.open{transform:translateX(0);}
	.header .menu ul li{display:block; margin:0; position:relative; border-bottom:1px solid #0057a2;}
	.header .menu ul li a{color:#a3cdf1; padding: 12px 20px; border-bottom: none; display: block; font-weight:500;}
	.header .menu .sub-menu{opacity: 0; visibility: hidden; position: relative; top:auto; background:none; border:none;  left:auto; font-size: 14px; margin-left: 0; box-shadow: none; width: 100%; padding-left:30px; height:0; transition: all 0.1s ease; border-top:1px solid rgba(0,0,0,0.1);}
	.header .menu .sub-menu.sub-menu-open{height:auto; opacity: 1 !important; visibility:visible;} 
	.header .menu ul li a.parent-menu:after{background:url(../img/sprite.png?v=2) no-repeat -472px -305px; height:18px; width:18px; content:""; position:absolute; top:17px; right:17px;}
	.header .menu ul li a.parent-menu.sub-menu-active:after{background-position:-472px -326px;}
	.header .menu ul li a.parent-menu:before{height:52px; width:1px; content:""; position:absolute; top:0px; right:52px; left:auto; background:rgba(0,0,0,0.10);}

	.header .menu li:hover .sub-menu{top:auto;}
	.header .menu .sub-menu li{border:none;}
	.header .menu .sub-menu li a {padding: 5px 10px 5px 30px; font-weight: normal; font-size: 15px; color: #fff; position:relative;}
	.header .menu .sub-menu li a:before{content:""; border-top:6px solid transparent; border-bottom:6px solid transparent; border-left:6px solid #c3f149; left:14px !important; top:13px; background:none;}
	.header .menu ul li a.active {color: #fff; font-weight:600;}
	.header .menu ul li span{left: auto !important; top: 15px !important; right: 70px; color: #000; background: #f16436; border-radius: 2px; font-size: 12px;}
	.header .menu ul li a.active + span > span{padding:4px;}
	.header .menu li.last .sub-menu {width: 100%; left: 0;}
	.header .menu li:hover .sub-menu{opacity:0;}
	body.menu-open .m-sticky-btn{display:none;}
	
	.banner{background:none;}
	.home-banner img {display: block;}
	.banner h1{color:#202020;}
	.home-banner.banner h1{text-align:center;}
	.banner .banner-content {padding-top: 20px}
	.banner-points {display: block; text-align: left;}
	.banner-points .box h4 {font-size: 16px;}
	.banner-points .box p {font-size: 14px;}
	
	
	.pre-header{padding:10px 0;}
	.pre-header ul li span{/*display:block; position:absolute; left:0; visibility:hidden; opacity:0; top:50px; background:#fff; padding:10px; color:#202020; min-width:200px; min-width: 200px;  box-shadow: 0 0 10px rgba(0,0,0,0.25);  border-radius: 5px; transition:all 0.5s ease;*/ z-index: 99; position:relative; visibility:hidden; text-overflow: ellipsis; white-space: nowrap;}
	.pre-header ul li a{color:#202020;}
	.pre-header ul li.open span{visibility:visible; opacity:1; top:35px;}
	.pre-header .left-info li {padding: 0px; /*border-right: none; margin-right: 20px; height: 24px; width: 24px;*/ position: relative; margin-top: 5px;}
	.pre-header .social {padding-top: 0;}
	.pre-header .left-info li:before{top:0;}
	.pre-header .left-info .call-options li{height:auto; width:auto;}
	.pre-header .left-info li#call-us:hover .call-options{top:35px;}
	
	.banner{padding-top:0; text-align:center;}
	.banner h2 {font-size: 18px; margin-bottom: 20px;}
	.banner h1{font-size: 24px; margin-bottom: 20px;}
	.banner.inner h1{margin-bottom:0;}
	
	.banner-points .box{margin-bottom:15px;}
	.banner .scroll-bottom{display:none;}
	h2 {font-size: 24px; margin: 0 0 20px;}
	.locations .box {display: inline-block; width: 100%; border-right:none; padding: 30px 25px;}
	.activities .card-box { padding: 0 20px 20px;  margin: 20px;}
	.activities .card-box .img-box {margin: 0 -20px 20px;}
	.activities p{text-align:left;}
	.footer .about{margin:40px 0;}
	.footer{padding-top:40px;}
	.copyright{margin-top:40px; text-align:center; padding:20px 0;}
	.copyright p{margin-bottom:15px;}
	.footer .social{text-align:center;}
	.footer h3{font-size:20px;}
	.course-content .card-box{height:auto !important;}
	ul.contact-info{font-size:0;}
	ul.contact-info li{display:inline-block; width:50%; padding:20px;}
	ul.contact-info li:nth-child(2n){border-right:1px solid #e0e0e0;}
	ul.contact-info.no-border li{border-bottom:1px solid #e0e0e0;}
	.course-block .hover-info{padding:10px;}
	.course-block h3{font-size:16px;}
	.course-block p{font-size:13px;}
	.contact-form{padding:30px;}
	#map{height:400px !important;}
	.contact-map .center-img{display:none;}
	.contact-map .center-info{width:100%;}
	.contact-map .gm-style .gm-style-iw-c{height:auto;}
	.gallery-popup img {width:100%;}
	.gallery-popup .modal-dialog{margin-top:50px;}
	.gallery-popup .close{right:0; top:-30px; z-index:99;}
	.value-section .value-content{padding-top:40px; padding-bottom:40px;}
	.value-section .heading{padding-top:30px;}
	.course-banner .container{padding:0;}
	.course-banner h1{font-size:16px; position:relative; padding:10px; text-align:center; background:rgba(0,114,211,.80); display:block; left: 0; bottom: auto; color:#fff;}
	.about-banner-content{position:relative; left:0; right:0; top:auto; transform:none; background:rgba(0,0,0,0.90);padding:10px;}
	.about-banner-content h2{font-size:14px !important;}
	.pre-header .info label{font-size:14px !important;}
	.placement-form {margin:0; padding:20px;}
	.placement-form .field{margin-bottom:15px;}
	
	.m-sticky-btn{position: fixed; right: 0; top: 50%; transform: translateY(-50%); z-index: 99999; display:block;}
	
	.pre-header .info span{display:block;}
	.pre-header .info span.last{display:none;}
}






@media only screen and (min-width:400px) and (max-width:767px){
	.gallery .img-block{width:80%; margin-left:auto; margin-right:auto;}
	.banner{margin-top:170px;}
	.banner h1 {font-size: 16px; margin-bottom: 20px;}
}

@media only screen and (min-width:100px) and (max-width:400px){
	.gallery .img-block{width:80%; margin-left:auto; margin-right:auto;}
	.banner{margin-top:180px;}
	.banner h1 {font-size: 10px; margin-bottom: 20px;}
}


@media only screen and (max-width:301px){
	.banner h1 {font-size: 14px; margin-bottom: 20px;}
}

.v-small{line-height:1;}
.v-small small{font-size:75%;}
sup{font-size: 60%;}

.about_edit h4{
		font-size: 25px;
    color: #0072d3;
    font-weight: 600;
	}
	
.about_edits h4{
font-size: 25px;
    color: #0072d3;
    font-weight: 600;

}